* {
    --black: #212529;
}
header {
    background-color: var(--black, #212529);
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0.5rem;
}
header h3 {
    color: white;
    flex: 1;
    user-select: none;
}
body {
    height: 100vh;
    background-color: hsl(0, 0%, 25%);
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin: 1rem 0; */
    background-color: ghostwhite;
    border-radius: 4px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
}

#btn-form-submit {
    padding: 1rem 0;
    border-radius: 0;
}

.form-inputs {
    height: 100%;
    padding: 0.5rem 0.75rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
    flex-wrap: wrap;
}

.input {
    margin-bottom: 0.5rem;
}

.input-list .input-group {
    margin-bottom: 0.5rem;
}

.input-list-remove {
    cursor: pointer;
    color: red;
    user-select: none;
}

/* General styles */
span.required-icon {
    color: red;
    user-select: none;
}
input[type='number']:not(.has-increment-button) {
    appearance: textfield !important;
}
input[type='number']:not(.has-increment-button)::-webkit-outer-spin-button,
input[type='number']:not(.has-increment-button)::-webkit-inner-spin-button {
    display: none;
}
