form {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    height: 100%;
}

#btn-form-submit {
    padding: 1rem 0;
    border-radius: 0;
}

.form-inputs {
    height: 100%;
    padding: 0.5rem 0.75rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
    flex-wrap: wrap;
}

.input {
    margin-bottom: 0.5rem;
}

.input-list .input-group {
    margin-bottom: 0.5rem;
}

.input-list-remove {
    cursor: pointer;
    color: red;
    user-select: none;
}

/* General styles */
span.required-icon {
    color: red;
    user-select: none;
}
input[type='number']:not(.has-increment-button) {
    appearance: textfield !important;
}
input[type='number']:not(.has-increment-button)::-webkit-outer-spin-button,
input[type='number']:not(.has-increment-button)::-webkit-inner-spin-button {
    display: none;
}

.form-check > label {
    user-select: none;
}
