body {
    height: 100vh;
    background-color: #d6d6d6;
}
span.required-icon {
    color: red;
    user-select: none;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100%;
}

form {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow: hidden;
    max-height: 50%;
    gap: 0.5rem;
    align-items: flex-start;
}

.form-inputs {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
form fieldset {
    background-color: ghostwhite;
    padding: 0.75rem;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
    flex-wrap: wrap;
}

.input {
    margin-bottom: 0.5rem;
}

input[type='number']:not(.has-increment-button) {
    appearance: textfield !important;
}
input[type='number']:not(.has-increment-button)::-webkit-outer-spin-button,
input[type='number']:not(.has-increment-button)::-webkit-inner-spin-button {
    display: none;
}

.input-list .input-group {
    margin-bottom: 0.5rem;
}

.input-list-remove {
    cursor: pointer;
    color: red;
    user-select: none;
}
